<footer class="main-footer">
    <button></button>
    <nav>
      <ul class="nav-list1">
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
      <ul class="nav-list1 nav-list2">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.social</li>
      </ul>
    </nav>
    <div class="copyright">
    <p>©2017</p>
    <p>we ❤︎ components</p>
   <!-- <div class="text-heart"> <span>we </span>+<div class="redheart">&hearts;</div>+ <p>❤︎ components</p> </div> -->
  </div>
  </footer>
  