<footer class="main-footer">
    <a class="btn-top" href="#top"><img src="assets/images/ico-arrow.svg" class="ico-top" alt="top"></a>
    <nav>
      <ul class="nav-list1">
        <li><a class ="list-link" href="#">Articles</a></li>
        <li><a class ="list-link" href="#">Books</a></li>
        <li><a class ="list-link" href="#">Events</a></li>
        <li><a class ="list-link" href="#">Reasons</a></li>
        <li><a class ="list-link" href="#">Tips</a></li>
      </ul>
      <ul class="nav-list1 nav-list2">
        <li><a class ="list-link" href="https://twitter.com/#">Twitter</a> </li>
        <li><a class ="list-link" href="https://www.instagram.com/#">Instagram</a></li>
        <li><a class ="list-link" href="https://mastodon.social/#">Mastodon.social</a></li> 
      </ul>
    </nav>
    <div class="copyright">
    <p>©2017</p>
    <p>we ❤︎ components</p>
   <!-- <div class="text-heart"> <span>we </span>+<div class="redheart">&hearts;</div>+ <p>❤︎ components</p> </div> -->
  </div>
  </footer>
  