<main>
    <article class="main-art1">
      <h3 class="pre-title-article">Insomnia Tips</h3>
      <h4 class="title-article">Looking Through A Window</h4>
      <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button>Go</button>
    </article>



    <article class=" main-art2">
    <h4>3 Reasons To Purchase</h4>
    <div>
        <h5>Ut sed metus</h5>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div>
        <h5>Curabitur ac erat</h5>
        <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div>
        <h5>Morbi dictum</h5>
        <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button>More reasons</button>
  </article>
  </main>
  