<main>
    <article class="main-art1" id="nextsection">
     <div class="box-art1">
         <h3 class="pre-title-article">Insomnia Tips</h3>
         <h4 class="title-article">Looking Through A Window</h4>
         <p class="text-article">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
         <a class="btn-go" href="#">Go</a>      
     </div>
    </article>


    <article class=" main-art2">
    <h4 class="title-article title-align">3 Reasons To Purchase</h4>
    <div class="container-article2">
    <div class="item-article2">
        <h5 class="subtitle-article2">Ut sed metus</h5>
        <p class="text-article2">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="item-article2">
        <h5 class="subtitle-article2">Curabitur ac erat</h5>
        <p class="text-article2">Mauris mattis urna quis lorem molestie.</p>
    </div>

    <div class="item-article2">
        <h5 class="subtitle-article2">Morbi dictum</h5>
        <p class="text-article2">Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <div class="item-article2">
        <a class="btn-more"  href="#">More reasons</a>
    </div>
    </div>
  </article>
  </main>
  