 <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Anonimous Prosy</title>
  <!-- <link rel="icon" href="favicon.png"/>  -->
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <partial src="_header.html" ></partial>


<main>
  <article>
    <h3>Insomnia Tips</h3>
    <h4>Looking Through A Window</h4>
    <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <button>Go</button>
  </article>
  <article>
  <h5>3 Reasons To Purchase</h5>
  <div>
      <h6>Ut sed metus</h6>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
  </div>
  <div>
      <h6>Curabitur ac erat</h6>
      <p>Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div>
      <h6>Morbi dictum</h6>
      <p>Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <button>More reasons</button>
</article>
</main>

<footer>
  <button></button>
  <nav>
    <ul>
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
    <ul>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.social</li>
    </ul>
  </nav>
  <p>©2017</p>
  <p>we ❤︎ components</p>
  
</footer>
  <!-- <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
  </div> -->
</body>
</html> 
