 <!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Anonimous Prosy</title>
  <!-- <link rel="icon" href="favicon.png"/>  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <partial src="_header.html" ></partial>
    <partial src="_main.html" ></partial>




<footer>
  <button></button>
  <nav>
    <ul>
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
    <ul>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.social</li>
    </ul>
  </nav>
  <p>©2017</p>
  <p>we ❤︎ components</p>
  
</footer>
  <!-- <div class="page">
    <partial src="_main.html" label="Main"></partial>
  </div> -->
</body>
</html> 
