.main-art1{
    padding: 30px 15px 40px;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.box-art1{
    max-width: 600px;
}
.pre-title-article{
    font-family: $fontRoboto;
    font-size: $font-sizeMin;
    line-height: 30px;
    color:$blueLight;
    margin-bottom: 1px;
}
.title-article{
    font-family: $fontRobotoSlab;
    font-weight: bold;
    font-size: $font-sizeMedMax;
    line-height: 30px;
    color:$blackBatman;
    margin-bottom: 15px;
}
.text-article{
    font-family: $fontRoboto;
    font-size:$font-sizeRegularMax;
    line-height: 30px;
    color:$greyBrown;
    margin-bottom: 30px;  
}
.btn-go{
  border-radius: 22.5px;
  border: solid 2px $orangeBright;
  background-color: $whiteSnow;

  text-decoration:none;
  font-family: $fontRoboto;
  font-size:$font-sizeMed;
  line-height: 45px;
  color: $orangeBright;
  transition: background-color ease-out 1s,color ease-out 1s, border ease-out 1s;

  padding: 10px 23px;

  &:hover{
    background-color:$orangeBright;
    color: $whiteSnow;
    border: solid 2px $whiteSnow;

  }

  @media all and (min-width: 1024px){
    padding: 10px 50px;

  }

}


