.main-art1{
    height: 376px;
    width: 320px;
    background-color: yellow;
}
.pre-title-article{
    width: 90px;
    height: 30px;
    font-family: $font-sizeRegular;
    font-size: $font-sizeMin;
    line-height: 30px;
    color:$blueLight;
}