.main-art2{
    padding: 30px 15px 40px;
    background-color: $blueIce;
}
.title-align{
    text-align: center;
}
.subtitle-article2{
    font-family: $fontRobotoSlab;
    font-weight: bold;
    font-size: $font-sizeRegularMax;
    line-height: 30px;
    color:$blackBatman;
    text-align: center;
}
.text-article2{
    font-family: $fontRoboto;
    font-size:$font-sizeRegularMax;
    line-height: 30px;
    color:$blackBatman;
    margin-bottom: 30px;
}

.container-article2{
    margin: 45px 54px 0 50px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 70px;
    grid-auto-flow: column;
    align-self: center;
}
.item-article2{
    text-align: center;
}
.btn-more{
    // width: 184px;
    // height: 45px;
    border-radius: 22.5px;
    background-color:$orangeBright;

    text-decoration:none;
    font-family: $fontRoboto;
    font-size:$font-sizeMed;
    line-height: 45px;
    color: $whiteSnow;
    padding: 10px 25px;
}
