.main-art2{
    padding: 30px 15px 40px;
    background-color: $blueIce;
}

.title-align{
    text-align: center;
}

.subtitle-article2{
    font-family: $fontRobotoSlab;
    font-weight: bold;
    font-size: $font-sizeRegularMax;
    line-height: 30px;
    color:$blackBatman;
    text-align: center;
}

.text-article2{
    font-family: $fontRoboto;
    font-size:$font-sizeRegularMax;
    line-height: 30px;
    color:$blackBatman;
    margin-bottom: 30px;
}

.container-article2{
    margin: 45px 54px 0 50px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 70px;
    align-self: center;

    @media all and (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 70px;
    }
}

.item-article2{
    text-align: center;
    padding: 10px;
}

.item4-article2{
    text-align: center;

    @media all and (min-width: 768px){
        grid-column: span 3;
    }
}

.btn-more{
    border-radius: 22.5px;
    background-color:$orangeBright;

    text-decoration:none;
    font-family: $fontRoboto;
    font-size:$font-sizeMed;
    line-height: 45px;
    color: $whiteSnow;
    padding: 10px 25px;

    transition: background-color ease-out 1s, color ease-out 1s, border ease-out 1s;
    &:hover{
        background-color:$whiteSnow;
        color: $orangeBright;
        border: solid 2px $orangeBright;
      }
}
