*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: $fontRoboto;
    font-size: $font-sizeRegular;
    line-height: 1.4px;
    background-color: $whiteSnow;
    color: $blackBatman;
     border:solid 2px green;

}
