.main-footer{
    background-color: $blueDark;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}

.btn-top{
    border-radius: 22.5px;
    background-color:$whiteSnow;
    margin-top: -25px;
    padding: 10px;
    padding: 8px 13px;
    box-shadow: 0 0 2px $blackBatman;
    &:focus{
        outline:none
    }
}

@keyframes ontop {
    from {
      transform: translateY(-3px);
    }
    to {
      transform: translateY(3px);

    }
  }

.ico-top{
  width: 20px;
  height: 24px;
  color: $orangeBright;
  animation-name: ontop;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
.footer-nav{
    max-width: 600px;
    margin-top: 30px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: center;
    @media all and (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr;
        min-width: 700px;
        
    }
}


.nav-list1{
    list-style: none;
    font-family: $fontRoboto;
    font-size: $font-sizeRegular;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;

    @media all and (min-width: 768px){
       text-align:left; 
    }

}

.list-link {
     text-decoration: none;
     color:$whiteSnow;  
}
.list-link:hover{
    text-decoration: underline;
}

.list-link:active{
    color:$whiteSnow
}
.list-link:visited{
    color:$whiteSnow
}

.copyright{
    font-family: $fontRoboto;
    font-size: $font-sizeMin;
    line-height: 30px;
    color:$whiteSnow;
    text-align: center;

    @media all and (min-width: 768px){
        order: -1;
        text-align: left;
    }
}

.redheart {
    color:$redHeart; 
}