.header-general{
    width: 320px;
    height: 568px;
    min-height: 100vh;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), var($blackBatman));
}

.title{
    width: 290px;
    height: 110px;
    margin:  284px 15px 10px;
    color: $whiteSnow;
    line-height: 55px;
    font-family: $fontRobotoSlab;
    font-size: $font-sizeTitle;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.subtitle{
    width: 290px;
    height: 21px;
    margin: 0px 15px 76px;
    color: $whiteSnow;
    line-height: 1.4;
    font-family: $fontRoboto;
    font-size:$font-sizeRegular;
    font-weight: normal;
    text-align: center;
}
.btn-menu{
    width: 44px;
    height: 44px;
    background-color: $blueMenu;
    position:fixed;
}
.ico-menu{
    width: 16px;
  height: 14px;
  object-fit: contain;
  position:fixed;
}
.btn-nextsection{
    width: 45px;
    height: 45px;
    margin: 45px 137px;
    border-radius: 22.5px;
    background-color:$whiteSnow;
}
.ico-nextsection{
  width: 20px;
  height: 11.7px;
  object-fit: contain;
  background-color: $orangeBright;
}