$whiteSnow: #fff;
$blackBatman: #000;
$blueMenu: #0271bc;
$orangeBright:#f26002;

$font-sizeTitle: 42px;
$font-sizeRegular: 16px;

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
