$whiteSnow: #fff;
$blackBatman: #000;
$blueMenu: #0271bc;
$orangeBright:#f26002;
$blueLight: #8ccbea;


$font-sizeTitle: 42px;
$font-sizeRegular: 16px;
$font-sizeMin: 14px;

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
